openapi: 3.1.0
info:
  version: 2.2.1-d2
  title: OCPI
  contact:
    name: OCPI maintainers
    url: https://github.com/ThaddeusJiang/ocpi
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: OpenAPI 3.1 definitions for OCPI 2.2.1-d2.
servers:
- url: https://ocpi.server.com/2.2.1
  description: Example OCPI server
security:
- tokenAuth: []
tags:
- name: Versions
  description: OCPI Versions module.
- name: Credentials
  description: OCPI Credentials module.
- name: Locations
  description: OCPI Locations module.
- name: Sessions
  description: OCPI Sessions module.
- name: CDRs
  description: OCPI CDRs module.
- name: Tariffs
  description: OCPI Tariffs module.
- name: Tokens
  description: OCPI Tokens module.
- name: Commands
  description: OCPI Commands module.
- name: ChargingProfiles
  description: OCPI ChargingProfiles module.
- name: HubClientInfo
  description: OCPI HubClientInfo module.
paths:
  /versions:
    $ref: paths/versions.yaml
  /{version}:
    $ref: paths/{version}.yaml
  /credentials:
    $ref: paths/credentials.yaml
  /locations:
    $ref: paths/locations.yaml
  /locations/{location_id}:
    $ref: paths/locations_{location_id}.yaml
  /locations/{location_id}/{evse_uid}:
    $ref: paths/locations_{location_id}_{evse_uid}.yaml
  /locations/{location_id}/{evse_uid}/{connector_id}:
    $ref: paths/locations_{location_id}_{evse_uid}_{connector_id}.yaml
  /locations/{country_code}/{party_id}/{location_id}:
    $ref: paths/locations_{country_code}_{party_id}_{location_id}.yaml
  /locations/{country_code}/{party_id}/{location_id}/{evse_uid}:
    $ref: paths/locations_{country_code}_{party_id}_{location_id}_{evse_uid}.yaml
  /locations/{country_code}/{party_id}/{location_id}/{evse_uid}/{connector_id}:
    $ref: paths/locations_{country_code}_{party_id}_{location_id}_{evse_uid}_{connector_id}.yaml
  /sessions:
    $ref: paths/sessions.yaml
  /sessions/{country_code}/{party_id}/{session_id}:
    $ref: paths/sessions_{country_code}_{party_id}_{session_id}.yaml
  /sessions/{session_id}/charging_preferences:
    $ref: paths/sessions_{session_id}_charging_preferences.yaml
  /cdrs:
    $ref: paths/cdrs.yaml
  /cdrs/{cdr_id}:
    $ref: paths/cdrs_{cdr_id}.yaml
  /tariffs:
    $ref: paths/tariffs.yaml
  /tariffs/{country_code}/{party_id}/{tariff_id}:
    $ref: paths/tariffs_{country_code}_{party_id}_{tariff_id}.yaml
  /tokens:
    $ref: paths/tokens.yaml
  /tokens/{country_code}/{party_id}/{token_uid}:
    $ref: paths/tokens_{country_code}_{party_id}_{token_uid}.yaml
  /tokens/{token_uid}/authorize:
    $ref: paths/tokens_{token_uid}_authorize.yaml
  /commands/{command}:
    $ref: paths/commands_{command}.yaml
  /commands/{command}/{uid}:
    $ref: paths/commands_{command}_{uid}.yaml
  /chargingprofiles/{session_id}:
    $ref: paths/chargingprofiles_{session_id}.yaml
  /chargingprofiles/{session_id}/result:
    $ref: paths/chargingprofiles_{session_id}_result.yaml
  /chargingprofiles/{session_id}/active_charging_profile:
    $ref: paths/chargingprofiles_{session_id}_active_charging_profile.yaml
  /clientinfo/{country_code}/{party_id}:
    $ref: paths/clientinfo_{country_code}_{party_id}.yaml
  /hubclientinfo:
    $ref: paths/hubclientinfo.yaml
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
